body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 24px; 
    margin: 0; 
}

nav {
    text-align: left; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle; 
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px; 
}

nav li img {
    width: 100px; 
    height: auto; 
    vertical-align: middle;
}

main {
    padding: 20px;
    text-align: center; 
}

.form {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.form button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px; 
    border: none;
    cursor: pointer;
    display: block; 
    margin: 20px auto 0; 
}

.qr {
    background-color: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
    padding: 20px; 
    text-align: center;
    margin-top: 20px; 
}

.qr img {
    width: 200px; 
    height: auto;
    vertical-align: middle; 
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}
